**/node_modules
**/.next
**/.next/cache
**/dist
**/build
.git
.gitignore
.env
.env.local
.env.*.local
README.md
.vscode
.idea
**/.DS_Store
**/._*
**/uploads
**/.turbo
**/coverage
docker-compose.yml
docker-compose.prod.yml
